@model MasGlobal.Dto.EmployeeDto
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Detail view for Employee</title>
</head>
<div> Employee Id: @Model.Id </div>
<div> Emploee Name: @Model.Name</div>
<div> Emploee Salary: @Model.Salary</div>
<div> Emploee Salary Type: @Model.SalaryType.Name</div>

<a asp-action="Index" asp-controller="Home">Return</a>
<body>
</body>
</html>

