
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" action="/home/GetAll">
        <table>
            <tr>
                <div>id: <input name="Id" /></div>
            </tr>
        </table>
        <button type="submit">Search</button>
    </form>
</body>.
</html>
