@model MasGlobal.Dto.EmployeeDto
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Id Not found for Employee</title>
</head>
<div> Id Not found  </div>

<a asp-action="Index" asp-controller="Home">Return</a>
<body>
</body>
</html>